.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .lightbox-img {
    width: 100vw;
    height: 100vh;
    object-fit: contain; // або "cover", якщо хочеш обрізання
    animation: fadeIn 0.3s ease-in-out;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    z-index: 10001;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}